<div class="products-container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let product of products">
      <mat-card class="card">
        <img
          [src]="product.image"
          alt="product-image"
          height="300px"
          width="330px"
        />
        <h3 class="p-title">
          <a
            routerLink="{{ '/detail/' + product.id }}"
            routerLinkActive="active"
            >{{ product.title }}</a
          >
        </h3>
        <h2 class="p-title">Price: {{ product.price }}$</h2>
        <button mat-raised-button color="primary" (click)="addToCart(product)">
          Add To Cart
        </button>
      </mat-card>
    </div>
  </div>
</div>
